body {
    background-color: DodgerBlue; /* Standard syntax (must be last) */

}

#foot {
    text-align  : center;
    margin-right: auto;
    margin-left : auto;
    font-size   : 14px;
    width       : 100%;
}
