body {
    background-color: DodgerBlue; /* Standard syntax (must be last) */

}

#foot {
    text-align  : center;
    margin-right: auto;
    margin-left : auto;
    font-size   : 14px;
    width       : 100%;
}

.sublist {
    display: inline;
}
.popup {
    padding: 30px;
    background: white;
    text-align: center;
    z-index: auto;
    width: 15%;
}
